* {
    margin: 0px;
    padding: 0px;

    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    /*-ms-transition: all .5s ease; */
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

/*Background color for the whole page*/
body {
    background-color: #55c1ef;
    font-family: Georgia, serif;
}

/*Makes equivalent margin for all page contents*/
header, #wrapper, footer, #wrapper2 {
    margin-left: 10%;
    margin-right: 10%;
}
#wrapper{
    background-color: #f68b1f;
    text-align: center;
}

#wrapper2{
    position: relative;
    background-color: #FDECF3;
    text-align: center;
}

#logopiece{
    height: 100px;
}

footer {
    background-color: #f05b87;
    height: 150px;
    text-align: center;
}
#upperpic{
    position: relative;
    /*align: left;*/
    width: 30%;
}

#lowerpic{
    position: relative;
    float: right;
    width: 30%;
}

#footer{
    padding: 30px;
}

#statement{
    position: relative;
    float: right;
}

.head {
    font-family: cursive;
}

.head a {
    text-decoration: none;
    color: black;
}
#nav{
    background-color: #f05b87;
}

/*
header div {
    column-count: 2;
    padding: 5px;
}
*/
header #sign {
    float: right;
    height: auto;
    width: 150px;
}

#logo {
    height: 70px;
}

#nav ul {
    list-style-type: none;
    padding: 12px;
    background-color: #f05b87;
}

#nav li {
    display: inline;
    font-family: fantasy;
    text-align: center;
}

#nav li a {
    text-decoration: none;
    color: black;
    padding: 10px 20px;
}

#nav li a:hover {
    background-color: #ed572d;
    color: white;
}

#nav li a.active {
    background-color: #ed572d;
    color: white;
}



/* css for gallery slideshow*/

.gallerySection{
    background-color: #d2e4f5;
    margin: 20px;
}

#content {
    padding: 25px;
    text-align :center;
}


.thumbnail, .thumbnail2, .thumbnail3 {
    width: 15%;
    padding: 1%;
    box-sizing: border-box;}

/* Slideshow container */
.slideshow-container {
    /*max-width: 1000px;*/
    position: relative;
    margin: auto;
}

.mySlides, .mySlides2, .mySlides3 {
    display: none;

}

.mySlides img, .mySlides2 img, .mySlides3 img {
    width: 300px;
}

/* Next & previous buttons */
.prev, .next, .prev2, .next2, .prev3, .next3 {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    background-color: #f2c72f;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 10px;
}

/* Position the "next button" to the right */
.next, .next2, .next3 {
    right: 5%;
}
.prev,.prev2, .prev3 {
    left: 5%;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover, .prev2:hover, .next2:hover , .prev3:hover, .next3:hover  {
    background-color: #ed572d;
}

/* Number text (1/3 etc) */
.numbertext {
    color: black;
    font-size: 1em;
    padding: 8px 12px;
    position: absolute;
    left:15%;
    top: 0;
}

.mouse {
    height: 20%;
    width: 20%;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    /*-ms-transition: all 1s ease;*/
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

/* CSS for About Us */
.intro {
   position: relative;
}

.About_us_heading {
    text-align: center;
    font-size: 40px;
}

#intro {
    text-align: center;
}

.statement_paragraph {
    position: relative;
}

.statement_paragraph, p {
    font-size: 18px;
    line-height: 30px;
}

.who_are_we {
    height: 400px;
    vertical-align: center;
}

.who_are_we img {
    margin: 5px;
    float: left;
    width:40%;
}